{% extends 'utphy_richdocument/base_utphy_richdocument.html' %}
{% load static wagtailimages_tags %}

{% block extra_css %}
    {{ block.super }}
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'node_modules/slick-carousel/slick/slick.css' %}"/>
    <!-- Add the slick-theme.css if you want default styling -->
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>#}
{% endblock extra_css %}


{% block streamblock %}
    <section class="album">
        <h3>{{ value.album_title }}</h3>
        <p>{{ value.description }}</p>
        {% for value in value.add_pictures %}
            {% include 'utphy_richdocument/blocks/picture.html' %}
        {% endfor %}

        {#        slideshow: {{ value.has_slideshow }}#}
    </section>
{% endblock streamblock %}

{% block extra_js %}
     <script type="text/javascript"
            src="{% static 'node_modules/slick-carousel/slick/slick.min.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('.album').slick();
      });
    </script>

{% endblock extra_js %}