{% extends 'utphy_richdocument/base_utphy_richdocument.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
{% endblock extra_css %}

{% block streamblock %}
    <div class="code-lang">
            {{ value.language }} code
    </div>

    <pre>
        <code class="{{ value.language }}"> {{ value.code }} </code>
     </pre>
{% endblock streamblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock extra_js %}