{#{% extends 'utphy_richdocument/base_utphy_richdocument.html' %}#}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block streamblock %}
    <section class="picture">
        <div>{% image value.photo width-400 %}</div>
        {% if value.credit %}
            <div class="credit">{{ value.credit }}</div>
        {% endif %}
        {% if value.caption %}
            <div class="caption">{{ value.caption }}</div>
        {% endif %}
        <div class="link">{% include 'utphy_richdocument/blocks/links.html' %}</div>
    </section>

{% endblock streamblock %}