@import "uoft_colors";

$blue: $uoft-accent-colour-blue;
$grey: $uoft-accent-colour-grey;
$green: $uoft-accent-colour-green;
$pink: $uoft-accent-colour-pink;

$quote-color: $green;

// media queries
$breakpoints: (
        small: 0px,
        medium: 640px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1440px,
);

.block-table, .bustout, .code_chunk,
.doc_byline, .math-formula, .quote {
  margin: 1rem 0;
}

// blockquote
.quote {
  //background-color: lighten($quote-color, 10%)
}

blockquote {
  border-left: none;
  color: darken($quote-color, 50%);
  font-size: 1.2rem;
  padding: 2rem;
  text-align: center;

  @media screen and (min-width: 640px) {
    padding: 2rem 4rem;
    font-size: 1.5rem;
  }
}

blockquote:before {
  color: darken($quote-color, 20%);
  content: '\f10e';
  font-family: FontAwesome;
  font-size: 1.8rem;
  margin-left: 1rem;
  vertical-align: 2rem;
  position: relative;
  top: -1rem;
  left: -1rem;

  @media screen and (min-width: 640px) {
    top: 1rem;
    left: -5rem;
  }
}

cite {
  font-size: 1rem;
  color: currentcolor;
  display: block;
  padding: 2rem 0;
}

cite > a {
  color: inherit;
}

// end blockquote

// byline
pre.content-byline {
  color: $uoft-official-colour-blue;
  display: block;
  font-family: inherit;
  font-size: 0.9rem;
  border-bottom: 2px solid $uoft-accent-colour-green;
  padding-bottom: 0.3rem;
}

// byline end

// bustout
.bustout {
  color: $uoft-secondary-colour-black;
  border: 1px solid lighten($uoft-secondary-colour-black, 70%);
}

.bustout-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1rem;

  .bustout-image {
    flex: 1 0 50%;
    margin-right: 1rem;

    @media screen and (max-width: 640px) {
      display: none;
    }

  }

  .bustout-text {
    flex: 1 1 auto;
    font-size: 1rem;
    font-style: italic;
    padding: 0;

    @media screen and (min-width: 640px) {
      font-size: 1.3rem;
      padding: 1rem;
    }

  }
}

// end bustout

// code
.code_chunk {

  .code-lang {
    color: $blue;
    font-size: small;
    font-style: italic;

    &:after {
      content: ': ';
    }
  }

  code {
    display: block;

    @media screen and (max-width: 640px) {
      font-size: 0.8rem;
    }
  }
}

// end code

// math
.math-formula {

}

// picture
.picture {
  display: flex;
  flex-direction: column;
  width: 45vw;
  
  @media screen and (min-width: 640px) {
    width: 28vw;
  }
  
  @media screen and (min-width: 1024px) {
    width: 15vw;
  }

  .caption {
    font-weight: bold;
    font-size: .8rem;
  }

  .credit {
    &::before {
      content: 'credit: '
    }
    align-self: flex-end;
    font-style: italic;
    font-size: .7rem;
    color: #8d8d8d;
  }
  
}

// end picture

// album
.album {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 1rem 0;
}

// end album
